{% extends 'base.html' %}

{% block content %}
  
  <form action="{% block formaction %}{% endblock %}"
        method="post" id="{% block formid %}{% endblock %}">
    <fieldset>
      <legend>Patient Information</legend>
      <div style="margin: 20px">
         {{ form.as_p }}
      </div>
    </fieldset>
    
    <fieldset class="submit">
      <input class="submit" id="formsubmit" type="submit" value="Submit">
    </fieldset>
    
  </form>
  
  {% block more_javascript %}
  {% endblock %}
{% endblock %}